/* playfair-display-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
  src: url('../fonts/playfair-display-v36-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* raleway-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* raleway-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/raleway-v28-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* raleway-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v28-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
    box-sizing: border-box;
}


header{
    width: 320px;
    height: 62px;
    border: 1px solid red; 
}

main{
    width: 320px;
    height:2935px ;
    border: 1px solid rgb(61, 195, 79); 
}

footer{
    width: 320px;
    height: 486px;
    border: 1px solid rgb(47, 21, 153); 
}
.box{
    background: url(/image/photo\ hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display';
    padding: auto;
    height: 169px;
    width: 300px;
}

.video{
    background: url(/image/VIDEO\ \(image\).png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display';
    padding: auto;
    height: 202px;
    width: (272)px;
    color: aliceblue;

}

.withP{
    background: url(/image/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display';
    padding: auto;
    height: 182px;
    width: 210px;

}

.footer-menu_list a{
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 116.667% */
    text-decoration: none;
}

footer p{
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 19px
}

footer a{
    color: #000;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px; 
    text-decoration: none;
}

.Fotter_down{

color: #000;
font-family: Raleway;
font-size: 9px;
font-style: normal;
font-weight: 700;
line-height: 19px; /* 211.111% */
}

.General_Ninj{
    color: #000;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: 26px; /* 118.182% */
text-decoration: none;
}

.link_logo{
    background: url(/image/mail.svg),
    rgb(255, 255, 255) 0px 0px / 100% 100% no-repeat;

}

.get_started{
    background-color: #4BA87D;
    width: 320px;
    height: 290px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.get_started h2{
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; 
}

.get_started a{
    color: #4BA87D;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 15px; /* 115.385% */
    letter-spacing: 0.65px;
    text-decoration: none;
}

.get_started button{
    width: 131px;
    height: 42px;
    flex-shrink: 0;
    text-align: center;
    margin: 0 auto;
}