/* playfair-display-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
  src: url('../fonts/playfair-display-v36-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* raleway-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* raleway-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/raleway-v28-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* raleway-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v28-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
    box-sizing: border-box;
}


.nav-div hr{
    margin-top: 4px;
    height: 3px;
    flex-shrink: 0;
    border-radius: 2px;
}

.wrapper{
    width: auto;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}

.logo{
    width: 35px;
display: flex;
justify-content: center;
align-items: center ;
}

.logo a{
    width: 40px;
    height: 25px;
    outline: none;
    background-repeat: no-repeat;
}

.logo_text{
    align-items: center;
    display: flex;
    margin-left: 15px;
}

.logo img{
    width: 100px;
}
.all_logo {
    display: flex;
}


.logo_sign {
    margin-left: 20px;
    display: flex;
}

.logo_sign a{
    text-decoration: none;
    color: #FFF;
}

.logo_sign button{
    background-color: #4BA87D;
    border: 0;
    width: 110px;
    height: 25px;
    padding: 0;
    font-family: Raleway;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px; /* 118.182% */
    letter-spacing: 0.825px;
    transition: background-color 0.25s ease-in;
}   

.logo_sign button:hover{
    background-color: rgb(44, 221, 103);
}

main{
    width: auto;
}

.first{
margin-top: 19px;    
display: flex;
flex-direction: column;
align-items: center;
}

.wrapper-first{
    background: url(/image/photo\ hero.png);
    background-repeat: no-repeat;
    background-size: cover;
background-size: 100% 169px;
}

.box{

    filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.16));

    font-family: 'Playfair Display';
    height: 169px;
    color: #000;
    font-size: 36px;
    font-style: normal;
    position: relative;
    font-weight: 900;
    line-height: 46px; /* 127.778% */
    margin-bottom: 15px;
    margin-top: 30px;

}

.box h1{
    position: absolute;
    left: 0;
    top: -60px;
    width: 286px;
}


.wrapper-first p{
    display:flex;
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    align-items: center;
    width: 300px;
}



.buttons{
    margin-top: 16px;
    width: 310px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.tru_now{
    text-decoration: none;
    background: #4BA87D;
    color: #FFF;

    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 15px; /* 115.385% */
    letter-spacing: 0.65px;
    padding: 13px 39px; /* Поля вокруг текста */
}

.get_a_demo {
    text-decoration: none;
    color: #4BA87D;
    border: 3px solid #4BA87D;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 15px; /* 115.385% */
    letter-spacing: 1.3px;
    padding: 10px 27px; 
    background-color: #FFF;
}




.video{

    background: url(/image/VIDEO\ \(image\).png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display';
    height: 171px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 30px;

}

.video h2{
    padding-top: 60px;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    padding-bottom: 20px;
    line-height: 29px; /* 131.818% */
}

.video a{
    color: #4BA87D;
    font-family: Raleway;
    font-size: 6px;
    font-style: normal;
    font-weight: 900;
    line-height: 7px; /* 116.667% */
    letter-spacing: 0.3px;
    text-decoration: none;
    padding: 7px 13px;
    background: #FFF;
    margin: 0 auto;
    
}


.withP {
display: flex;
flex-direction: column;
width: auto ;
background: url(/image/Slanted\ Green\ BG.svg);
background-repeat: no-repeat;
background-position: center; 
width: 320px;
margin: 0 auto;
}

.start_1 {
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    background-color: #fff;
    width: 210px;
    height: 310px;
    margin-bottom: 18px;
    margin-left: 10px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}


.start{
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    background-color: #fff;
    width: 210px;
    height: 310px;
    margin-left: 97px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);

}

.start_img{
    height: 182px;
    width: 210px;   
    top: 10px;
}

.start_p{
    padding-top: 16px;
    margin: 0 auto;
    width: 170px;
}

.start_a{
    color: #4BA87D;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 14px; /* 116.667% */
    text-decoration: none;
    padding-left: 20px;
}

.text_withoutP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_withoutP h2{
    padding-top: 17px;
    color: #000;
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 31px; /* 110.714% */
    padding-bottom: 17px;
    width: 232px;
}
.text_withoutP p{
    color: #000;
    width: 232px;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    margin-bottom: 47px;
}

.forth{
    margin: 0 auto;
    width:223px;
    height: 843px;
    color: #FFF;
    font-style: normal;
    font-family: Raleway;
    display: flex;
    flex-direction: column;
    
}

.forth h2{
    font-size: 22px;
    font-weight: 900;
    line-height: 26px; /* 118.182% */
}

.forth .div p{
    font-size: 12px;
    font-weight: 700;
    line-height: 14px; /* 116.667% */
}

.forth div+div{
    margin-top: 21px;
}

.forth h2{
    padding-top: 100px;
}

.Frankie{
    background: url(/image/Frankie.png) ;
    width: auto;
    height: 157px;
    text-align: left;
    background-repeat: no-repeat;
    padding-left: 17px;
}

.Elayne{
    background: url(/image/Elayne.png);
    width: auto;
    height: 157px;
    background-repeat: no-repeat;
    padding-left: 17px;
}

.Camile{
    background: url(/image/Camile.png);
    width: auto;
    height: 157px;
    background-repeat: no-repeat;
    padding-left: 17px;

}

.Learn h2{
    color: #000;
    text-align: center;
    padding-top: 38px;
    font-family: Playfair Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 138.462% */
    margin-bottom: 10px;
}

.logo_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 280px;
}


#form_4_input{
    border-radius: 5px;
    border: 1px solid #9F9F9F;
    background: #FFF;;
    width: 210px;
    height: 42px;
    padding-left: 10px;
}



.thanks{
    color: #4BA87D;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 7px;
    border: none;
}

.action2{
    width: 144px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    background-color: #4BA87D;
    text-align: center;
}

.action2 input{
    color: #FFF;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.65px;
    background-color: #4BA87D;
    border: 0;
}



.forth a{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 15px; /* 115.385% */
    letter-spacing: 0.65px;
    padding: 13px 21px;
    background: #4BA87D;
    text-decoration: none;
}

.fifth{
    width: 239px;
    margin: 0 auto;
    margin-top: 54px;
    height: 242px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
}

.fifth h2{
    color: #000;
    font-family: Playfair Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 138.462% */
    margin-bottom: 35px;
}


.footer-menu_list li+li{
margin-bottom: 7px;

}

.logotips {
display: grid;
grid-template-columns: 1fr 1fr;
grid-row-gap: 20px;
}


.quest {
    grid-column: span 2;
}

.conteiner {
margin-left: 15px;
display: flex;
flex-direction: column;
align-items: flex-start;
}

footer{
    padding-top: 50px;
    margin-bottom: 50px;
    width: 320px;
    margin: 0 auto;
}

.first_chield{
    margin-bottom: 7px;

}

.Medium{
    margin-top: 11px;

}

.first_colum{
    float: left;
    margin-bottom: 17px;
}

.second_colum{
    float: right; width: 49%
}

.footer_p{
    width: 186px;
    margin-top: 23px;
}

.navigation {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
}

.Terms{
    margin-bottom: 7px;
}

.footer-menu_list a{
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 116.667% */
    text-decoration: none;
}

.footer-menu{
    width: 211px;
}

footer h3{
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 19px;
}

footer p{
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 19px;

}

footer a{
    color: #000;
    font-family: Raleway;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px; 
    text-decoration: none;
}

.Fotter_down{
color: #000;
font-family: Raleway;
font-size: 9px;
font-style: normal;
font-weight: 700;
line-height: 19px; /* 211.111% */
}

.General_Ninj{
    color: #000;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: 26px; /* 118.182% */
text-decoration: none;
}


.get_started{
    background-color: #4BA87D;
    width: 320px;
    height: 290px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.get_started h2{
    color: #FFF;
    text-align: center;
    width: 259px;
    display: flex;
    height: 127px;
    font-family: Playfair Display;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; 
    padding-top: 43px;
    margin-left: 31px;
    padding-bottom: 19px;
}

.get_started a{
    color: #4BA87D;
    text-align:justify;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 15px; /* 115.385% */
    letter-spacing: 0.65px;
    text-decoration: none;    
}

.get_started button{
    width: 131px;
    height: 42px;
    flex-shrink: 0;
    text-align: center;
    margin: 0 auto;
}

.footer-menu_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 230px;
    justify-content: flex-start;
    align-content: space-between;
}

.simple {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 211px;
    max-width: 368px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list{
    display: flex;
    column-gap: 26px;
}


.nav-link{
    text-decoration: none;
    color: #000;
    font-family: Raleway;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: 13px; /* 118.182% */
    letter-spacing: 0.825px;
}

@media (min-width:320px) and (max-width: 768px) {
    .nav-list{
        display: none;
        column-gap: 50px;
    }

    .box{
        max-width: 768px;
        min-width: none;
    }

    .box h1 {
        position: unset;

    }
}

@media (min-width: 1200px)  {
    .wrapper{
        margin: 0 60px;
    }
}
